* {
  font-family: "Ubuntu", sans-serif;
}

.security {
  background-image: url("../images/security.png");
  background-color: #1f2d47;
  min-height: 835px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1440px) {
  .security {
    background-image: url("../images/securitylaptop.png");
    min-height: 627px;
  }
}
@media (max-width: 1280px) {
  .security {
    background-image: url("../images/securitysmall.png");
    min-height: 557px;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .security {
    background-position: left center;
  }
}
