* {
  font-family: "Ubuntu", sans-serif;
}

.security {
  background-image: url("../images/security.png");
  background-color: #1f2d47;
  min-height: 835px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cta {
  background-image: url("../images/cta1920.png");
  min-height: 618px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
#discount {
  top: -34px;
  left: 50%;
  transform: translateX(-50%);
}
@media (max-width: 1600px) {
  #discount {
    top: -30px;
  }
}
@media (max-width: 1440px) {
  .security {
    background-image: url("../images/securitylaptop.png");
    min-height: 627px;
  }
  .cta {
    background-image: url("../images/cta1440.png");
    min-height: 464px;
  }
}
@media (max-width: 1280px) {
  .security {
    background-image: url("../images/securitysmall.png");
    min-height: 557px;
    background-size: cover;
  }
}
@media (max-width: 1024px) {
  .security {
    background-position: left center;
  }
  #discount {
    top: -25px;
  }
}
